<app-header></app-header>
<hr>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" [(ngModel)]="bookName" id="inputPassword" placeholder="Search Book">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="submit" (click)="searchBook()" class="btn btn-primary mb-2">search book</button>
                </div>
            </div>

        </div>
    </div>
    <hr>

    <div class="card" style="width:700px;margin-left:200px" *ngIf="displayFlag">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{imageUrl}}" alt=" Image is loading..." />
                </div>
                <div class="col-sm-6">
                    <ul style="list-style:none;">
                        <li>
                            <b>Title:</b>&nbsp;{{title}}</li>
                        <li>
                            <b>Author:</b>&nbsp;{{author}}</li>
                        <li>
                            <b>Description:</b>&nbsp;{{description}}</li>
                    </ul>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-left:200px;">
                        <button type="button" class="btn btn-secondary">Review</button>
                        <button type="button" class="btn btn-secondary">WishList</button>
                        <button type="button" class="btn btn-secondary">Rating</button>
                      </div>
            </div>
        </div>
    </div>
    <hr>
    <h1 *ngIf="displayFlag">Library List</h1>
    <div class="card" style="width:700px;margin-left:200px"  *ngFor="let library of libraryList">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{library.imageUrl}}" alt="Image is loading.." width="50%" height="50%" />
                </div>

                <div class="col-sm-8">
                    <div class="col-sm-6">
                        <ul style="list-style:none;">
                            <li>
                                <b>Location</b>:&nbsp;{{library.location}}
                                <li>
                                    <li>
                                       <b>Distance</b> :&nbsp;{{library.distance}}
                                        <li>
                                            <li>
                                                    <b>Opening Hours</b> :&nbsp;{{library.opening}}
                                            <li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>