

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" [(ngModel)]="bookName" id="inputPassword" placeholder="Search Book">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="submit" (click)="searchBook()" class="btn btn-primary mb-2">search book</button>
                </div>
            </div>

        </div>
    </div>
    <hr>

    <div class="alert alert-primary" role="alert" *ngIf="whistList">
            <p>{{title}} is added to your wishlist!</p>
          </div>

    <div class="card" style="width:700px;margin-left:200px" *ngIf="displayFlag">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <img src="{{imageUrl}}" alt=" Image is loading..." />
                </div>
                <div class="col-sm-6">
                    <ul style="list-style:none;">
                        <li>
                            <b>Title:</b>&nbsp;{{title}}</li>
                        <li>
                            <b>Author:</b>&nbsp;{{author}}</li>
                        <li>
                            <b>Description:</b>&nbsp;{{description}}</li>
                    </ul>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-left:200px;">
                        <button type="button" (click)="getReview()" [(ngModel)]="review" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Review</button>
                        <button type="button" (click)="whishListClicked()" class="btn btn-secondary" >WishList</button>
                        <button type="button" class="btn btn-secondary">Reading</button>
                        <button type="button" (click)="onClickRed()" class="btn btn-secondary">{{readMsg}}</button>
                      </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <h1 *ngIf="displayFlag">Library List</h1>
    <div class="card" style="width:700px;margin-left:200px"  *ngFor="let library of libraryList">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{library.imageUrl}}" alt="Image is loading.." width="50%" height="50%" />
                </div>

                <div class="col-sm-8">
                    <div class="col-sm-6">
                        <ul style="list-style:none;">
                            <li>
                                <b>Location</b>:&nbsp;{{library.location}}
                                <li>
                                    <li>
                                       <b>Distance</b> :&nbsp;{{library.distance}}
                                        <li>
                                            <li>
                                                    <b>Opening Hours</b> :&nbsp;{{library.opening}}
                                            <li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>

    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="rating">
                        <span title="five stars">&#9734;</span>
                        <span title="four stars">&#9734;</span>
                        <span title="three stars">&#9734;</span>
                        <span title="two stars">&#9734;</span>
                        <span title="one star">&#9734;</span>
                     </div>
            <textarea [(ngModel)]="review" cols="40" rows="5" style="resize:none" placeholder="write a review"></textarea>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>