<app-header></app-header>

<div class="container">
    <h1 class="title-pen"> User Profile </h1>
    <div class="user-profile">
      <img class="avatar" src="../../../assets/icons/boy.png" alt="Ash" />
        <div class="username">Admin</div>
      <div class="bio">
        Avid Reader
      </div>
        <div class="description">
          I use to design websites and applications
          for the web.
      </div>
      <ul class="data">
        <li style="text-align: left">
          <img src="../../../assets//icons/notebook.png" class="read"> Read Books  
        </li>
        <li>Harry potter</li>
          <li>The kite Runner</li>
     </ul>

     <ul class="data">
      <li style="text-align: left">
          <img src="../../../assets/icons/open-book.png"> Currently Reading 
      </li>
      <li>Thinking Fast and Slow</li>
          
     </ul>

     <ul class="data">
      <li style="text-align: left">
        <img src="../../../assets/icons/review.png"> Reviews 
      </li>
     </ul>

     <ul class="data">
      <li style="text-align: left">
        <img src="../../../assets/icons/wishlist.png"> Wish list 
      </li>
      <li>Enough: Staying Human in and Engineered.. </li>
     </ul>
    </div>
</div>